modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["openssh"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Terminal Space Server"

[[workflows.workflow]]
name = "Terminal Space Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx webpack --config webpack.config.js && node server.js"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "npx webpack --config webpack.config.js && node server.js"]

[[ports]]
localPort = 5000
externalPort = 80
